@charset "UTF-8";
*{
    font-family:  Arial, Helvetica, sans-serif;

}

body{
    background: url(../imagens/background.png) center center no-repeat fixed;
    background-size: cover;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(13, 13, 13, 0.616);
    width: 70%;
    padding: 100px;
    margin: auto;
}

h1 {
    color: white;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(13, 13, 13, 0.726);
}

h2 {
    color: #014034;
}

p{
    text-align: justify;
}

.voltar{
    display: flex;
    justify-content: center;
    
}


.pinguim {
    position: fixed;
    bottom: -70px;
    right: -200px;
    width: 500px; 
    height: auto; 
    z-index: 9999; 
}
