body{
    background-color: rgb(228, 228, 228);
}

.title{
    display: flex;
    justify-content: center;
}

p{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

a{
    font-size: 25px;
}

.marcelo{
    height: 200px; 
    width: 200px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
}



.pinguim {
    position: fixed;
    bottom: 20px;
    right: -200px;
    width: 600px; 
    height: auto; 
    z-index: 9999; 
}