body{
    background-image: linear-gradient(to top, #52577E, #413349, #413241);
    background-attachment: fixed;
}

.title{
    color: white;
    display: flex;
    justify-content: center;
}

p{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

a{
    color: white;
    font-size: 25px;
}

.marcelo{
    height: 200px; 
    width: 200px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
}



.pinguim {
    position: fixed;
    bottom: 20px;
    right: -200px;
    width: 600px; /* Defina o tamanho desejado para o ícone */
    height: auto; /* Permite a proporção correta da imagem */
    z-index: 9999; /* Certifique-se de que o ícone esteja acima de outros elementos na página */
}